header
{
    background: #464755; /* Le fond de la page sera noir */
    color: white; /* Le texte de la page sera blanc */
    margin: 0 -601.5rem;
  
    padding: 0.25rem 1.5rem;

    border-left: 600rem solid;
    
    top: 0;
    width: 100%;
    
    text-align: center;
    font-family: Verdana;
}

main
{
    color: white;
    background-color: black;
    margin: 0 -601.5rem;
  
    padding: 0.25rem 1.5rem;

    border-left: 600rem solid;
    border-bottom: 600rem solid;
    
    top: 0;
    width: 100%;
    height: 100vh;
}

article
{
    text-align: center;
    font-family: Verdana;


}